<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	<div class="container">
	<form action="/board/modify" method="post">
		<div class="mb-3">
		  <label for="bno" class="form-label">번호</label>
		  <input type="text" name="bno" class="form-control" id="bno" th:value="${bdto.bvo.bno }" readonly="readonly">
		</div>
		<div class="mb-3">
		  <label for="title" class="form-label">제목</label>
		  <input type="text" name="title" class="form-control" th:value="${bdto.bvo.title }" id="title">
		</div>
		<div class="mb-3">
		  <label for="writer" class="form-label">글쓴이</label>
		  <input type="text" name="writer" class="form-control" id="writer" th:value="${bdto.bvo.writer }" readonly="readonly">
		</div>
		<div class="mb-3">
		  <label for="regAt" class="form-label">작성일</label>
		  <input type="text" name="regAt" class="form-control" id="regAt" th:value="${bdto.bvo.regAt }" readonly="readonly">
		</div>
		<div class="mb-3">
		  <label for="content" class="form-label">내용</label>
		  <textarea class="form-control" name="content" id="content" rows="3">[[${bdto.bvo.content }]]</textarea>
		</div>
		<div class="mb-3">
		  	<label for="file" class="form-label">files...</label>
		  	<input type="file" name="files" class="form-control" id="files" multiple style="display:none"><br>
		  	<button type="button" class="btn btn-primary" id="trigger">fileUpload</button>
		</div>
		<div class="mb-3">
			파일 목록 표시라인
			<div id="fileZone" class="mb-3">
			파일 목록
			</div>
		</div>
		<button type="submit" id="regBtn" class="btn btn-primary">수정</button>
		</form>
		</div>
		<script th:src="@{/js/boardRegister.js}"></script>
</th:block>
</th:block>