<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
		<h2>Member Join Page</h2>
			<form action="/member/register" method="post">
				<div class="mb-3">
				  <label for="email" class="form-label">이메일 : </label>
				  <input type="email" name="email" class="form-control" id="email" placeholder="example@text.com">
				</div>
				<div class="mb-3">
				  <label for="password" class="form-label">비밀번호 : </label>
				  <input type="password" name="pwd" class="form-control" id="pwd" placeholder="Enter Password">
				</div>
				<div class="mb-3">
				  <label for="nickName" class="form-label">닉네임 : </label>
				  <input type="text" name="nickName" class="form-control" id="nickName" placeholder="Enter Nickname">
				</div>
				
				<button type="submit" class="btn btn-primary" id="regBtn">전송</button>
			
			</form>	
	</th:block>
</th:block>
</html>