<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.repository.BoardMapper">
  
  	<insert id="insert">
  		insert into board(title, writer, content) values(#{title}, #{writer}, #{content})
  	</insert>
  
  	<select id="list" resultType="com.example.demo.domain.BoardVO">
  		select * from board <include refid="search"/> order by bno desc limit #{pageStart},#{qty}
  	</select>
  
  	<select id="selectOne" resultType="com.example.demo.domain.BoardVO">
  		select * from board where bno=#{bno}
  	</select>
  
  	<update id="edit">
  		update board set title=#{title}, content=#{content}, reg_at=now() where bno=#{bno}
  	</update>
  	
  	<delete id="remove">
  		delete from board where bno=#{bno}
  	</delete>
  	
  	<select id="getTotalCount" resultType="int">
  		select count(bno) from board <include refid="search"/>
  	</select>
  	
  	<select id="getBno" resultType="long">
  		select max(bno) from board
  	</select>
  	
  	<sql id="search">
		<if test="type != null">
			<trim prefix="where(" suffix=")" prefixOverrides="or">
				<foreach collection="typeToArray" item="type">
					<trim prefix="or">
						<choose>
							<when test="type == t.tostring()">
								title like concat('%', #{keyword}, '%')
							</when>
							<when test="type == w.tostring()">
								writer like concat('%', #{keyword}, '%')
							</when>
							<when test="type == c.tostring()">
								content like concat('%', #{keyword}, '%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
  </mapper>